@model MstNetCoreMVC.Models.TbKodePos

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Kode Pos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NoKodePos" class="control-label"></label>
                <input asp-for="NoKodePos" class="form-control" />
                <span asp-validation-for="NoKodePos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kelurahan" class="control-label"></label>
                <input asp-for="Kelurahan" class="form-control" />
                <span asp-validation-for="Kelurahan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kecamatan" class="control-label"></label>
                <input asp-for="Kecamatan" class="form-control" />
                <span asp-validation-for="Kecamatan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jenis" class="control-label"></label>
                <input asp-for="Jenis" class="form-control" />
                <span asp-validation-for="Jenis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kabupaten" class="control-label"></label>
                <input asp-for="Kabupaten" class="form-control" />
                <span asp-validation-for="Kabupaten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Propinsi" class="control-label"></label>
                <input asp-for="Propinsi" class="form-control" />
                <span asp-validation-for="Propinsi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
